<!DOCTYPE html>
<html lang="en">

<head>
    <title>Etestzone</title>
    <link rel="stylesheet" href="/css/bstyle.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        .carousel-inner {
            /* background-color: #996600; */
            height: 4em;
            background: #f7eacc;
            background: -webkit-linear-gradient(270deg, #f7eacc, #c2ae81);
            background: linear-gradient(180deg, #f7eacc, #c2ae81);
            color: #72664c;
        }
        
        .carousel-inner:hover,
        input.primary[type="submit"]:hover {
            background: #c2ae81;
            background: -webkit-linear-gradient(90deg, #f7eacc, #c2ae81);
            background: linear-gradient(0deg, #f7eacc, #c2ae81);
        }
        
        .carousel-item {
            padding: 3px;
            margin-left: 9rem;
        }
        /* .time {
            font-size: 12px;
        } */
        
        .notify {
            font-size: 30px;
            /* color: white; */
            color: #72664c;
            text-align: left;
        }
        
        .to {
            font-size: 22px;
        }
    </style>
</head>

<body>

    <div id="dem1" class="carousel slide" data-ride="carousel" style="padding-top: 105px;">

        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#dem1" data-slide-to="0" class="active"></li>
            <li data-target="#dem1" data-slide-to="1"></li>
            <li data-target="#dem1" data-slide-to="2"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
            <% for(var i=0;i<notify.length;i++){ %>
                <% var ids = 'd'+i; %>
                    <div id="<%= ids %>" class="carousel-item">



                        <form class="note" action="/test_series" method="POST">

                            <input type="hidden" name="domain" value="<%= notify[i].domain %>">
                            <input type="hidden" name="selected_ts" value="<%= notify[i].tsname %>">
                            <input type="hidden" name="ts_id" value="<%= notify[i]._id %>">



                            <button id="<%= i %>" value="<%= i %>" type="button" style="width: 100%;height: 100%;" class="btn" onclick="checkit(this.id)">
                        
                        
                       
                        
                                <div style="display: flex;">
                                    <div >
                                      <img class="card-img-top" style="width: 90px;height: 70px;margin-top: 15px;border-radius: 25px;" src="\images\<%= notify[i].domain %>.png" alt="Card image cap">
                                    </div>
                                    <div  class=" notify" style="margin-top: 12px;margin-left: 3%;">
                                    <% var domain= notify[i].domain %>
                                    <%= domain.toUpperCase() %> :

                                        <%= notify[i].tsname %>
                                            <p>
                                                Time :
                                                <%= notify[i].date %>
                                                     <span >  - </span>  
                                                  <% var y= notify[i].etime; %>
                                                  <% var ename = y.substring(y.length, y.length - 5); %>
                                                     <%= ename %>
                                            </p>
                                    </div>
                                    <div class="notify" style="margin-left: 5%;">
                                        <p style="margin-top: 4rem;">
                                          BY :
                                          <% var x= notify[i].teacher; %>
                                             <% var name = x.substring(0, x.length - 10); %>
                                            <%= name %>

                                         </p>
                                    </div>
                                </div>
                            </button>
                        </form>

                    </div>
                    <% } %>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#dem1" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#dem1" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>



    <script>
        $(document).ready(function() {
            document.getElementById("d0").classList.add("active");
        });


        function checkit(clicked_id) {

            <% for(var i=0;i<notify.length;i++){ %>
            var key = document.getElementById(clicked_id).value;

            if (key == <%= i %>) {

                if ("<%= notify[i].date%>" <= "<%= current %>") {
                    document.getElementsByClassName('note')[<%= i %>].submit();
                } else {
                    alert("The test will open on <%= notify[i].date %> only");
                }
            }
            <% } %>
        }
    </script>

</body>

</html>