<%- include('partials/header') %>

    <script>
        window.onload = function() {
            if (<%= visit %> == 1) {
                alert('please choose correct date and time of your Test');
            }
            if (<%= visit %> == 2) {
                alert("you cannot create more than Three tests.delete some tests to create a new test");
            }
        };
    </script>


    <div class="jumbotron" style="margin-bottom: 0px;">
        <div class="container">
            <div class="">
                <h1 id="yes" style="text-align: center;font-size:310%;">Create Test</h1>
                <br>
                <hr><br>
                <form action="/info" method="POST" target="wow">
                    <h5>Enter the name of your Test:</h5>
                    <input type="text" name="name" placeholder="enter name" required>
                    <br>


                    <br>
                    <h5>Marks for per correct answer</h5>
                    <input type="number" name="mark" placeholder="marks per correct answer" required><br>
                    <br>
                    <h5>Negative marking of per wrong answer</h5>
                    <input type="number" name="nmark" placeholder="negative marks per wrong answer" required><br>
                    <hr><br>





                    <h3>Set time</h3>

                    <h4>Enter Date</h4>

                    <h6>date/month/year</h6>
                    <select name="day" placeholder='day'>
             <%     for(var i=1;i <=31;i++){ %> 
                <% if(i<10){ %>
                    <% i='0'+i; %>
                <% } %>   
                <option value='<%= i %>'><%= i %></option>
             <% } %> 
              </select>

                    <select name="month" placeholder='month'>
                <%     for(var j=1;j <=12;j++){ %> 
                    <% if(j<10){ %>
                        <% j='0'+j; %>
                    <% } %>   
                   <option value='<%= j %>'><%= j %></option>
                <% } %> 
                 </select>

                    <select name="year" placeholder='year'>
                    <%     for(var k=2020;k <=2030;k++){ %> 
                       <option value='<%= k %>'><%= k %></option>
                    <% } %> 
                     </select><br><br>

















                    <h4>Enter Time: In 24 hours Format</h4>
                    <p>please choose time in 24 hours format
                    </p>
                    <h4>Starting Time</h4>
                    <!--   <input type="text" name="time" placeholder="hours:minutes">-->
                    <h5>Hours:minutes</h5>
                    <select name="shours">
            <%     for(var a=0;a <= 23;a++){ %> 
                <% if(a<10){ %>
                    <% a='0'+a; %>
                <% } %>   
               <option value='<%= a %>'><%= a %></option>
            <% } %> 
            </select>
                    <select name="smin">
                <%     for(var b=0;b < 60;b++){ %> 
                    <% if(b<10){ %>
                        <% b='0'+b; %>
                    <% } %> 
                   <option value='<%= b %>'><%= b %></option>
                <% } %> 
            </select>

                    <br><br><br>


                    <h4>Enter expiry time:</h4>
                    <h5>Hours:minutes</h5>
                    <!--  <input type="text" name="etime" placeholder="hours:minutes">-->
                    <select name="ehours">
            <%     for(var c=0;c <= 23;c++){ %> 
                <% if(c<10){ %>
                    <% c='0'+c; %>
                <% } %> 
               <option value='<%= c %>'><%= c %></option>
            <% } %> 
        </select>
                    <select name="emin">
            <%     for(var d=0;d < 60;d++){ %>
                <% if(d<10){ %>
                    <% d='0'+d; %>
                <% } %>  
               <option value='<%= d %>'><%= d %></option>
            <% } %> 
        </select>


                    <br><br>

                    <h4>Enter Total marks:</h4>
                    <input type="number" name="tmarks" placeholder="Total Marks" required><br>
                    <hr>







                    <br>
                    <button class="btn btn-dark" type="submit">  Proceed..  </button>
                    <br><br><br><br>
                </form>
            </div>
        </div>
    </div>