<%- include('partials/header') %>


    <div id='content-desktop'>
        <%- include('partials/bdheader') %>

            <%- include('partials/fix_sidebar') %>



                <div style="padding-top: 12rem;margin-bottom: 0px;padding-bottom: 600px;" class="container">

                    <% var length=test_series.length %>
                        <div style="text-align: center;" class="row centered">

                            <% for(var i=0;i< test_series.length;i++){ %>
                                <div class="col-6 col-lg-4">



                                    <div class="card zoom" style="width: 70%; box-shadow: 10px 10px 5px grey;">
                                        <a href="/test_series/<%= test_series[i]._id %>" style="text-decoration: none;color: inherit;">

                                            <button type="button" class="btn button primary large" style="padding: 0px;margin: 0px;">
                                        <img class="card-img-top simple" style="width: 50%;height: 40%;margin-bottom: 12px;border-radius: 40px;" src="\images\<%= test_series[i].domain %>.png" alt="Card image cap">
                                        <div  class="card-body" style="padding-top: 0px;padding-bottom: 0px;">
                                            <h6 style="margin: 0px;font-weight: normal;font-size: 18px;width: 100%;">
                                                <% var tname=test_series[i].tsname.toUpperCase(); %>
                                                    <%= tname %>
                                            </h6>
                                            <p style="width: 100%;">
                                                <%= test_series[i].total_test  %> Test
                                                    <br> <%= test_series[i].rating %> Star Ratings
                                                        <br>
                                                        <a  href="/comments/<%= test_series[i].tsname %>/<%= test_series[i].domain %>" style="color: #719c51;">Reviews</a>
                                                        
                                          <br> By:
                                                    <% var x= test_series[i].teacher; %> 
                                                    <% var name = x.substring(0, x.length - 10); %> 
                                                    <%= name %> 
                                                </p>
                                                
                                        </div>
                                        <% if(test_series[i].amount==0){ %> 
                                            <% var price='free'; %> 
                                        <% }else{ %>
                                            <% var price= test_series[i].amount; %>  
                                        <% } %> 
                                        <div class="card-footer  text-white" style="padding-bottom: 0px;padding-top: 0px;height: 100%;background-color: #72664c;">
                                            <h3 style="margin: 0px;padding: 10px;"><%= price %> /- </h3>
                                        </div>
                                        </button>

                                        </a>
                                    </div>
                                </div>
                                <% } %>
                        </div>
                </div>


    </div>
    </div>















    <div id='content-mobile' style="padding-bottom: 500px;">


        <%- include('partials/side_navbar') %>



            <div class="container" style="margin-top: 70px;">

                <% var length=test_series.length %>
                    <div style="text-align: center;" class="row centered">
                        <% for(var i=0;i< test_series.length;i++){ %>
                            <div class="col-6 col-lg-4">



                                <div class="card zoom" style="box-shadow: 10px 10px 5px grey;padding-bottom: 0px;padding-top: 0px;border-radius: 15px;">
                                    <a href="/test_series/<%= test_series[i]._id %>" style="text-decoration: none;color: inherit;">


                                        <button class="button primary large" style="padding: 0px;margin: 0px;border-radius: 15px;" type="button">
                                            <img class="card-img-top" style="width: 50%;height: 40%;margin-left: 0%" src="\images\<%= test_series[i].domain %>.png" alt="Card image cap">
                                            <div class="card-body" style="padding: 0px;margin: 0px;">
                                                <h6 style="margin: 10px;">
                                                    <% var tname=test_series[i].tsname.toUpperCase(); %>
                                                     <%= tname %>
                                                </h6>
                                                <p>
                                                    <%= test_series[i].total_test  %> Test
                                                    <br> <%= test_series[i].rating %>  Ratings
                                                    <br>
                                                    <a  href="/comments/<%= test_series[i].tsname %>/<%= test_series[i].domain %>">Reviews</a>
                                                    
                                                    <br> By:
                                                    <% var x= test_series[i].teacher; %>
                                                        <% var name = x.substring(0, x.length - 10); %>
                                                           <%= name %>
                                                </p>
                                            </div>
                                            <% if(test_series[i].amount==0){ %> 
                                                <% var price='free'; %> 
                                            <% }else{ %>
                                                <% var price= test_series[i].amount; %>  
                                            <% } %> 
                                            <div class="card-footer text-white" style="padding: 0px;">
                                                <h3 style="margin: 0px;padding: 10px;background-color: #72664c;"><%= price %> /- </h3>
                                            </div>
                                        </button>
                                    </a>
                                </div>
                            </div>
                            <% } %>
                    </div>
            </div>
    </div>






    <%- include('partials/footer') %>