<%- include('partials/header') %>
<title>Test</title>
</head>
<body>
    
    <div>
        <div class="card">
            <div class="card-header">
                <script>
                    var x;

                    function startTimer(duration, display) {
                        var timer = duration,
                            minutes, seconds;

                        var id = setInterval(clock, 1000);

                        function clock() {
                            minutes = parseInt(timer / 60, 10);
                            seconds = parseInt(timer % 60, 10);

                            minutes = minutes < 10 ? "0" + minutes : minutes;
                            seconds = seconds < 10 ? "0" + seconds : seconds;

                            display.textContent = minutes + ":" + seconds;

                            if (--timer == 0) {
                                // timer = duration;
                                document.getElementsByTagName('form')[0].submit();
                                clearInterval(id);
                                x = 0;
                                alert('the paper is submited,please login again to see your result');
                                return;
                            }
                        }
                    }

                    //yha tk

                    function myFunction() {
                        var str = '<%= etime %>';
                        var emin = str.substring(str.length, str.length - 2);
                        var ehour = str.substring(str.length - 3, str.length - 5);
                        var str2 = '<%= now %>';
                        var smin = str2.substring(str2.length, str2.length - 2);
                        var shour = str2.substring(str2.length - 3, str2.length - 5);
                        var hour = ehour - shour;
                        var min = emin - smin;
                        if (min < 0) {
                            min = min + 60;
                            hour = hour - 1;
                        }
                        var time_left = (hour * 60) + min;
                        return time_left;
                        // document.getElementById("demo").innerHTML = time_left;
                    }


                    window.onload = function() {
                        x = myFunction();
                        var Minutes = 60 * x,
                            display = document.querySelector('#time');
                        startTimer(Minutes, display);
                    };
                </script>


                <!--yha tk sb dhik dhak-->





                <!-- here-->






                <div class="row">
                    <div class="col-8">

                        <h3 style="font-weight: 300; padding-top: 0.5rem;">Name:
                            <%= username %>
                        </h3>
                        <h3 style="font-weight: 300;">Test ID:
                            <%= name  %>
                        </h3>
                        <h3 style="font-weight: 300;">Marks per question:
                            <%= pmark %>
                        </h3>
                        <h3 style="font-weight: 300;">Negative Marks per question:
                            <%= nmark  %>
                        </h3>

                        <h3 style="font-weight: 300;">Total Marks:
                            <%= tmarks %>
                        </h3>
                    </div>
                    <div class="col-4">
                        <h3><span id="time">time_left</span> minutes!</h3>
                        <button style="margin-top: 30%; margin-left: 30%;" class="btn btn-dark" type="button" id="before">Submit</button>
                    </div>

                </div>




            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8 col-12" style="margin-bottom: 6rem;">


                        <div class="jumbotron" style="border-style: groove;">

                            <form action="/test_result" method="POST">
                                <input type="hidden" name="tname" value="<%=name%>">
                                <input type="hidden" name="total" value="<%=no%>">
                                <input type="hidden" name="username" value="<%=username%>">

                                <% for(var i=0;i< no;i++){ %>
                                    <div id="<%= i+1 %>" style="display: none;">

                                        <% var qno=i+1; %>
                                            <h6> Q
                                                <%= qno  %> )
                                                    <%= question[i][0].question  %>
                                            </h6>

                                            <% var naam= 'answer'+i; %>

                                                <input type="radio" class="<%= naam %>" name="<%= naam %>" value="a">
                                                <label> <%= question[i][0].a %> </label><br>
                                                <input type="radio" class="<%= naam %>" name="<%= naam %>" value="b">
                                                <label> <%= question[i][0].b %>  </label><br>
                                                <input type="radio" class="<%= naam %>" name="<%= naam %>" value="c">
                                                <label> <%= question[i][0].c %> </label><br>
                                                <input type="radio" class="<%= naam %>" name="<%= naam %>" value="d">
                                                <label> <%= question[i][0].d %> </label><br>
                                                <hr>
                                    </div>
                                    <% } %>
                            </form>
                        </div>

                        <div style="text-align: right;">
                            <button onclick="erase()">Clear</button>
                            <button onclick="previous()">Previous</button>
                            <button onclick="next()">Next</button>
                            <button onclick="mark()">Mark & Next</button>
                        </div>
                    </div>


                    <div class="col-md-4 col-12">
                        <div style="padding: 20px;">
                            <%    for(var c=1;c <= no;c++){ %>
                                <% var ids= 's'+c; %>
                                    <button class="quest_nav" id="<%= ids %>" name="key" value="<%= c %>" onclick="show_question(this.id)">
                                <p>
                                    <%= c %>
                                </p>
                            </button>
                                    <%  } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var q = 1;
        var purple = 0;

        function show() {
            var x = document.getElementById(q);
            //alert(q);
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
            color();
        }
        show();



        //show question
        function show_question(clicked_id) {
            var key = document.getElementById(clicked_id).value;
            show();
            q = key;
            show();
        }


        //previous
        function previous() {
            if (q > 1) {
                show();
                q = q - 1;
                show();
            }
        }

        //next
        function next() {
            if (q < <%= no %>) {
                show();
                //color();
                q = parseInt(q) + 1;
                show();
            }
        }

        //clear
        function erase() {
            var myclass = "answer" + (q - 1);
            var but = 's' + q;
            var buttons = document.querySelectorAll('.' + myclass);
            for (var i = 0; i < buttons.length; i++) {
                buttons[i].checked = false;
                document.getElementById(but).style.backgroundColor = "white";
            }
        }

        //color the button
        function color() {
            //not attempted
            var mark;
            var myclass = "answer" + (q - 1);
            var buttons = document.querySelectorAll('.' + myclass);
            for (var a = 0; a < buttons.length; a++) {
                var ans = buttons[a].checked;
                if (ans == true) {
                    mark = 1;
                    var but = 's' + q;
                    if (purple == 0) {
                        document.getElementById(but).style.backgroundColor = "green";
                    } else {
                        document.getElementById(but).style.backgroundColor = "purple";
                    }
                    purple = 0;
                    break;
                } else {
                    mark = 0;
                }
            }
        }

        //mark and next
        function mark() {
            purple = 1;
            next();
        }
    </script>








    <% var y=10; %>
        <% if(now>=etime){ %>
            <script>
                document.getElementsByTagName('form')[0].submit();
            </script>
            <button type="submit"> Submit </button>
            <% }else{ %>

                <script>
                    document.getElementById("before").onclick = function() {
                        alert('You cannot submit before time');

                    }
                </script>

                <% } %>